.form-section {
  justify-content: flex-start;
  margin-right: 60px;
  margin-left: 60px;
}

.form-section h1 {
  margin-left: 2rem;
  margin-top: 1rem;
  color: rgb(136, 136, 136);
}

.forms {
  display: flex;
  flex-direction: row;
  margin-top: 2rem;
  margin-bottom: 2rem;
  gap: 1rem;
  justify-content: center;
}

.author {
  width: 250px;
}

.book {
  width: 500px;
}

.submit {
  width: 100px;
}

input {
  padding: 0.5rem;
}

.category {
  width: 150px;
}

.form-section button {
  width: 100px;
}
